{% extends 'layouts/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post" class="container">
    {% if error %}
        <div class="alert alert-danger text-center">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <div class="row">

        <div class="col-md-6 mx-auto">

            <h1 class="h3 mb-3 font-weight-normal text-center">Authentication</h1>

            <div class="mb-3">
                <label   class="form-label" for="email">Email: </label>
                <input type="email" value="{{ last_username }}" name="email" id="email"
                       class="form-control" required autofocus>
            </div>

            <div class="mb-3">
                <label class="form-label" for="password" >Password:</label>
                <input type="password" name="password" id="password"
                       class="form-control"  required>
            </div>

            <input  type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}
            <div>
                <a href="{{ path('app_forgot_password_request') }}">Forgot password? </a>
            </div>


            <div class="d-grid gap-2 col-6 mx-auto my-3">
                <button class="btn  btn-primary " type="submit">
                    Sign in
                </button>
            </div>
            <p class="mt-5 mb-3 text-center text-muted">
                Not registered yet?
                <a href="{{ path('app_register') }}">Create an account</a>
            </p>

        </div>
    </div>

</form>
{% endblock %}
