{% extends 'layouts/base.html.twig' %}

{% block title 'Find all the best pins on earth!' %}

{% block body %}
    {% if pins|length > 0 %}
        <h1 class="mb-4 text-center text-muted">{{ pluralize(pins|length, 'Pin', 'Pins')}}</h1>

        {% for row in pins|batch(3) %}
            <div class="row mb-5">
                {% for pin in row %}
                    <div class="col-md-4 ">
                        <article class="pin bg-white rounded shadow">
                            <div class="mw-100 rounded-top overflow-hidden">
                                <a href="{{ path('app_pins_show', {id:pin.id}) }}">
                                    <img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder.jpg'))| imagine_filter('squared_thumbnail_medium') }}"
                                         alt="{{ pin.title }}" class="w-100 "/>
                                </a>
                            </div>

                            <h2 class="h5 ps-3 pt-3">
                                <a href="{{ path('app_pins_show',{'id': pin.id}) }}"
                                class="text-secondary text-decoration-none">{{ pin.title }}</a>
                            </h2>
                            <p class="ps-3 pb-3 text-muted">Submitted by {{ pin.user.getFullName }}</p>
                        </article>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="d-flex justify-content-center">
            {% do pins.setPageRange(2) %}
            {{ knp_pagination_render(pins, 'layouts/pagination/pagination.html.twig') }}
        </div>
    {% else %}
        <h1 class="mt-5 text-center ">No pins yet. <a href="{{ path('app_pins_create') }}">Be the first!</a></h1>
    {% endif %}


{% endblock %}
