{% extends 'layouts/base.html.twig' %}

{% block title 'Register' %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger text-center" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="row">
    <div class="container col-md-6 mx-auto">
        <h1 class="text-center my-5">Register</h1>

        {{ form_start(registrationForm) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(registrationForm.firstName) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(registrationForm.lastName) }}
                </div>
            </div>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-lg btn-block" formnovalidate>Register</button>
        </div>

        <p class="mt-5 mb-3 text-center text-muted">
            Already have an account? <a href="{{ path('app_login') }}" class="text-decoration-none">log in</a>
        </p>
        {{ form_end(registrationForm) }}

    </div>
</div>

{% endblock %}
